<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>566783950771-2elkn8hfm5umuqmm011oohecd5h8326h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.566783950771-2elkn8hfm5umuqmm011oohecd5h8326h</string>
	<key>API_KEY</key>
	<string>AIzaSyDVE6qBncD6X3PyN-ep5ZW1prCx9D-n8cg</string>
	<key>GCM_SENDER_ID</key>
	<string>566783950771</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>pawlo.OpenWeather</string>
	<key>PROJECT_ID</key>
	<string>openweather-6072b</string>
	<key>STORAGE_BUCKET</key>
	<string>openweather-6072b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:566783950771:ios:3c7b75c859644c72</string>
	<key>DATABASE_URL</key>
	<string>https://openweather-6072b.firebaseio.com</string>
</dict>
</plist>